{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Get Updates</h5>
    <div class="card-body">
        <p class="card-text"> To Get The Update Of The Latest Jobs Join Our Whatsapp Group..!</p>
        <a href="https://youtube.com"
           class="btn btn-danger">Join Now!</a>
    </div>
</div>
</div>

{% endblock sidebar %}